<!DOCTYPE html>
<html>
<head>
    <title>Accounts List</title>
</head>
<body>
    <h1>Accounts List</h1>
    <table border="1">
        <tr>
            <th>Account ID</th>
            <th>User ID</th>
            <th>Balance</th>
        </tr>
        {% for account in accounts %}
        <tr>
            <td>{{ account.account_id }}</td>
            <td>{{ account.user_id }}</td>
            <td>₽{{ account.balance }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>