  <!DOCTYPE html>
  <html>
  <head>
      <title>Payment Form</title>
  </head>
  <body>
      <div class="container">
          <h2>Payment Details</h2>
          <form method="POST">
              <div class="form-group">
                  <input type="text" id="transaction_id" name="transaction_id" class="form-control" required>
                  <label for="transaction_id">Transaction Id</label>
              </div>

              <div class="form-group">
                  <input type="text" id="user_id" name="user_id" class="form-control" required>
                  <label for="user_id">User Id</label>
              </div>

              <div class="form-group">
                  <input type="text" id="account_id" name="account_id" class="form-control" required>
                  <label for="account_id">Account Id</label>
              </div>

              <div class="form-group">
                  <input type="number" id="amount" name="amount" class="form-control" step="0.01" required>
                  <label for="amount">Amount</label>
              </div>

              <div class="form-group">
                  <input type="text" id="signature" name="signature" class="form-control">
                  <label for="signature">Signature</label>
              </div> <br>
              <label for="signature">Оставьте подпись пустой для автоматической генерации</label> <br><br>
              <button type="submit" class="btn btn-primary">Submit Payment</button>
          </form>
      </div>
  </body>
  </html>