
<!DOCTYPE html>
<html>
<head>
    <title>Transaction List</title>
</head>
<body>
    <h1>Transactions</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Account ID</th>
                <th>User ID</th>
                <th>Amount</th>
                <th>Signature</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.transaction_id }}</td>
                <td>{{ transaction.account_id }}</td>
                <td>{{ transaction.user_id }}</td>
                <td>₽{{ transaction.amount }}</td>
                <td>{{ transaction.signature }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>