<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>
    <h1>Users</h1>
    <table border="1">
        <tr>
            <th>User ID</th>
            <th>Email</th>
            <th>Full Name</th>
            <th>Password</th>
            <th>User Type</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user['user_id'] }}</td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['full_name'] }}</td>
            <td>{{ user['password'] }}</td>
            <td>{{ user['user_type'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>